common --enable_bzlmod
common --lockfile_mode=off

build --incompatible_strict_action_env

# hermetic_toolchain_requires_this
common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp